
body {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}
.cell{
    float:left;
}
.img-box>img{
    width:100%;
    height:100%;
}

/* header 상단 메뉴!*/

.headerWrap{
    width:100%;
   border-bottom:1px solid rgba(0,0,0,.2);
   font-family: 'Times New Roman', Times, serif;
}
.header{
    width:1800px;
    margin:0px auto;
    padding:10px 0;
}
.header>.logo{
    width:10%;
    float:left;
    margin-top: 10px;
}
.header>.top-menu{
    width:80%;
    float:left;
    text-align: center;
}
.header>.top-menu>li{
    display: inline-block;
    text-align: center;
}
.header>.top-menu>li>a{
    display: block;
    padding:20px;
    font-size: 1.1rem;
}
.header>.top-icon{
    width:10%;
    float:left;
}
.header>.top-icon>ul>li{
    display: inline-block;
}
.header>.top-icon>ul>li>a{
    display: block;
    padding:20px 10px;
    font-size: 1.2rem;
}


/* visual 슬릭 슬라이드 */


.con3>div>.img-box{
    width:100%;
    height:400px;
}
.con3>div>div>h2{
    font-size: 2.2rem;
}
.con3>div>div>p{
    line-height: 150%;
}
.con3>div>div>a{
    display: inline-block;
    margin-top: 20px;
    border: 1px solid white;
    padding:15px;
}
.con3>div{
    position: relative;
}
.con3>div>.text{
    position: absolute;
}
.con3>div::before{
    position: absolute;
    content: "";
    display: block;
    clear: both;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, 0.5);
}


/*con3*/


.slider-box-1{
    position:relative;
}
.slider-box-1>.slides>div{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    opacity:0;
    visibility:hidden;
    transition:opacity 0.5s;
    background:no-repeat center;
    background-size:cover;
}
.slider-box-1>.slides>div.active{
    opacity:1;
    visibility:visible;
}
.slides>div>.text{
    position:absolute;
    top:50%;
    right:20%;
    transform: translate(0,-50%);
}
.slides>div>.text>h2{
    font-size:2rem;
}
.slides>div>.text>p{
    line-height:170%;
    font-size:0.9rem;
}
.slides>div>.text>a{
    display:inline-block;
    padding:10px 20px;
    margin-top:20px;
    border:1px solid white;
    transition:0.2s;
}
.slides>div>.text>a:hover{
    background:white;
    color:black;
}

/* con3 동그라미 버튼 */
.page-btns{
    position:absolute;
    left:90%;
    top:350px;
    white-space:nowrap; 
}
.page-btns>div{
    margin:0 4px;
    width:5px;
    height:5px;
    background:rgba(255,255,255,1);
    display:inline-block;
    border-radius:50%;
    cursor:pointer;
    
}
.page-btns>div.active{
    background:yellow;
    height:15px;
    border-radius:5px;
}







